<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karaca.sapcertificate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sap"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_sap"
        android:roundIcon="@mipmap/ic_sap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartingScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExamActivity"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5927233659272665~2607000782"/>
    </application>

</manifest>